@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100%;
  height: 100%;
}

.send-container, .public-container, .serv-container, .about-container, .main-container {
  padding: 39px 135px 42px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-container {
  background-image: url("../resource/img/banner.png");
}

.main, .about, .serv, .public, .send {
  display: flex;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "TT Commons", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  color: #FFFFFF;
}
.main__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main__content * {
  cursor: default;
}
.main__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 97px;
}
.main__footer-text {
  font-size: "TT Commons", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin-right: 22px;
  cursor: default;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__parts {
  display: flex;
}

.header-logo img:last-child {
  margin-left: 9.64px;
}

.header-menu__links {
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.header-menu__links:hover {
  color: #7E779A;
}
.header-menu__links:nth-child(2) {
  margin: 0px 60px;
}

.header-info {
  cursor: default;
}
.header-info__tel {
  letter-spacing: 0.1em;
  margin-right: 44px;
}
.header-info__mail {
  letter-spacing: 0.05em;
}
.header-info img {
  margin-right: 13px;
}

.small-text {
  display: flex;
  font-family: "Pragmatica ExtraLight", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #7E779A;
  margin-top: 144px;
}

.h-text {
  display: flex;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  max-width: 794px;
  margin-top: 16px;
}

.send-btn {
  display: flex;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;
  width: 333px;
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 25px;
  color: #FFFFFF;
}

.serv-container {
  background: #F6F4F9;
}

.send-container {
  background-image: url("../resource/img/sendBG.png");
}

.about {
  height: 100%;
  margin-top: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__left {
  display: flex;
  flex-direction: column;
  color: #333333;
  max-width: 570px;
}
.about__left .about-text {
  font-family: "Pragmatica ExtraLight", sans-serif;
  font-style: normal;
  margin-top: 33px;
}
.about__left .about-text span {
  font-family: "Pragmatica", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
}
.about__left .about-text p {
  font-size: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.about__left .about-imgs {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.about__left .about-imgs img {
  display: flex;
  border-radius: 9px;
  max-width: 270px;
  max-height: 196px;
}
.about__right {
  display: flex;
}
.about__right img {
  max-width: 540px;
  max-height: 530px;
}

.top-title {
  font-family: "TT Commons", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  cursor: default;
}

.serv {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.serv__tiles {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.serv .top-disc {
  margin: 14px 0px 44px 0px;
}

.top-disc {
  font-family: "Pragmatica ExtraLight", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #777777;
  cursor: default;
}

.serv-card {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 270px;
  height: 120px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 9px;
  justify-content: space-between;
  padding: 0px 30px 0px 29px;
}
.serv-card__circle {
  display: flex;
  width: 66px;
  height: 66px;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;
  justify-content: center;
  align-items: center;
}
.serv-card__text {
  display: flex;
  font-size: 15px;
  line-height: 22px;
  font-family: "Pragmatica", sans-serif;
  font-weight: bolder;
  font-weight: 540;
  color: #333333;
  text-align: left;
  margin-left: 17px;
  max-width: 122px;
  cursor: default;
}

.public {
  padding-top: 76px;
}
.public .swiper {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.public .swiper-wrapper {
  margin-top: 40px;
}
.public .swiper-slide {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 504px;
  background: #F6F4F9;
  border-radius: 9px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.public .swiper-button-next::after, .public .swiper-button-prev::after {
  content: "";
}
.public .swiper-button-prev, .public .swiper-button-next {
  width: 49px;
  height: 49px;
  background: #FFFFFF;
  border-radius: 90px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  top: auto;
  margin-top: 338px;
  margin-right: 100px;
  margin-left: 100px;
}
.public .slide-arrow {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: 0.3s;
}
.public .swiper-button-next .slide-arrow {
  transform: rotate(180deg);
}
.public .swiper-button-prev:hover .slide-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.public .swiper-button-next:hover .slide-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.public .slide-img {
  width: 100%;
  height: 262px;
  border-radius: 9px 9px 0px 0px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.public .slide-container {
  display: flex;
  flex-direction: column;
  width: 321px;
  text-align: left;
}
.public .slide-container__htext {
  font-family: "TT Commons", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  margin-top: 27px;
  height: 47px;
}
.public .slide-container__mtext {
  font-family: "Pragmatica ExtraLight", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin: 11px 0px 26px 0px;
  height: 72px;
}
.public .slide-container__divider {
  width: 308px;
  height: 0px;
  border-top: 2px solid #EAE8EC;
}
.public .slide-container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
.public .slide-container__footer-left {
  display: flex;
}
.public .slide-container__footer-right {
  display: flex;
}
.public .slide-container__footer-right span {
  font-family: "TT Commons", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #C4C4C4;
  margin-left: 7px;
}
.public .top-disc {
  margin-top: 13px;
}
.public #logoST {
  margin-left: 6.68px;
}

.left-slide .slide-img {
  background-image: url("../resource/img/pub1.png");
}

.middle-slide .slide-img {
  background-image: url("../resource/img/pub2.png");
}

.right-slide .slide-img {
  background-image: url("../resource/img/pub3.png");
}

.send {
  outline: 1px solid red;
  height: 100%;
}