@import "nullset.scss";

*{
     // outline: 1px solid red;
}
html{
     // scroll-behavior: smooth !important;
}
body{
     width: 100%;
     height: 100%;
     // display: flex;
     // align-items: center;
     // justify-content: center;
     // background-color: #040B2A;
     
}
%style-container{
     padding: 39px 135px 42px; 
     font-size: 16px;
     width: 100%;
     height: 100%;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
$fontTT: 'TT Commons', sans-serif;
$fontPr: 'Pragmatica ExtraLight', sans-serif;
.main-container {
     @extend %style-container;
     background-image: url("../resource/img/banner.png");
}
.main,.about,.serv,.public,.send{
     display: flex;
     font-style: normal;
}
.main {
     display: flex;
     flex-direction: column;
     font-family: $fontTT;
     font-weight: 500;
     font-size: 17px;
     line-height: 16px;
     color: #FFFFFF;
		&__content {
               display: flex;
               flex-direction: column;
               height: 100%;
		}
          &__content *{
               cursor: default;
		}
		&__footer {
               display: flex;
               flex-direction: row;
               justify-content: flex-end;
               align-items: center;
               margin-top: 97px;
		}
		&__footer-text {
               font-size: $fontTT;
               font-weight: 400;
               font-size: 17px;
               line-height: 24px;
               margin-right: 22px;
               cursor: default;
		}
}
.header {
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
     align-items: center;
		&__parts {
               display: flex;
		}
}
.header-logo {
     img:last-child{
          margin-left: 9.64px;
     }
}
.header-menu {
		&__links{
               display: flex;
               color: #FFFFFF;
               cursor: pointer;
               transition: .3s;
		}
          &__links:hover{
               color: #7E779A;
          }
          &__links:nth-child(2) {
               margin: 0px 60px;
		}
}
.header-info {
     cursor: default;
		&__tel {
               letter-spacing: 0.1em;
               margin-right: 44px;
		}

		&__mail {
               letter-spacing: 0.05em;
		}
     img{
          margin-right: 13px;
     }
}
.small-text {
     display: flex;
     font-family: $fontPr;
     font-weight: 400;
     font-size: 18px;
     line-height: 26px;
     letter-spacing: 0.02em;
     color: #7E779A;
     margin-top: 144px;
}
.h-text {
     display: flex;
     font-weight: 700;
     font-size: 64px;
     line-height: 70px;
     max-width: 794px;
     margin-top: 16px;
}
.send-btn {
     display: flex;
     background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
     border-radius: 90px;
     width: 333px;
     height: 56px;
     font-weight: 600;
     font-size: 16px;
     line-height: 14px;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     margin-top: 25px;
     color:#FFFFFF;
}
.about-container {
     @extend %style-container;
}
.serv-container {
     @extend %style-container;
     background: #F6F4F9;
}
.public-container{
     @extend %style-container;
}
.send-container{
     @extend %style-container;
     background-image: url("../resource/img/sendBG.png");
}
.about{
     height: 100%;
     margin-top: 115px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     &__left{
          display: flex;
          flex-direction: column;
          color: #333333;
          max-width: 570px;
          .about-text{
               font-family: $fontPr;
               font-style: normal;
               margin-top: 33px;
               span{
                    font-family: 'Pragmatica', sans-serif;
                    font-weight: bolder;
                    font-size: 20px;
                    line-height: 44px;
                    font-weight: 500;
               }
               p{
                    font-size: 20px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
               }
          }
          .about-imgs{
               display: flex;
               justify-content: space-between;
               margin-top: 37px;
               img{
                    display: flex;
                    border-radius: 9px;
                    max-width: 270px;
                    max-height: 196px;
               }
          }
     }
     &__right{
          display: flex;
          img{
               max-width: 540px;
               max-height: 530px;
          }
     }
}
.top-title{
     font-family: $fontTT;
     font-weight: 700;
     font-size: 48px;
     line-height: 40px;
     cursor: default;
}
.serv {
     height: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     &__tiles {
          display: grid;
          grid-gap: 30px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     .top-disc {
          margin: 14px 0px 44px 0px;
     }
}
.top-disc {
     font-family: $fontPr;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: #777777;
     cursor: default;
}
.serv-card {
     display: flex;
     user-select: none;
     width: 270px;
     height: 120px;
     align-items: center;
     background: #FFFFFF;
     border-radius: 9px;
     justify-content: space-between;
     padding: 0px 30px 0px 29px;
     &__circle {
          display: flex;
          width: 66px;
          height: 66px;
          background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
          border-radius: 90px;
          justify-content: center;
          align-items: center;
     }
     &__text {
          display: flex;
          font-size: 15px;
          line-height: 22px;
          font-family: 'Pragmatica', sans-serif;
          font-weight: bolder;
          font-weight: 540;
          color: #333333;
          text-align: left;
          margin-left: 17px;
          max-width: 122px;
          cursor: default;
     }
}
.public {
     // outline: 1px solid red;
     padding-top: 26px;
     .swiper{
          text-align: center;
          align-items: center;
          justify-content: center;
     }
     .swiper-wrapper{
          margin-top: 40px;
     }
     .swiper-slide{
          display: flex;
          flex-direction: column;
          width: 370px;
          height: 504px;
          background: #F6F4F9;
          border-radius: 9px;
          align-items: center;
          user-select: none;
     }
     .swiper-button-next::after, .swiper-button-prev::after {
          content: "";
     }
     .swiper-button-prev,.swiper-button-next {
          width: 49px;
          height: 49px;
          background: #FFFFFF;
          border-radius: 90px;
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
          top:auto;
          margin-top: calc(504px/2 + 172px/2);
          margin-right: 100px;
          margin-left: 100px;
     }
     .slide-arrow {
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transition: .3s;
     }
     .swiper-button-next .slide-arrow{
          transform: rotate(180deg);
     }
     .swiper-button-prev:hover .slide-arrow{
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     }
     .swiper-button-next:hover .slide-arrow{
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9' y1='2.2615' x2='1.97064' y2='9.29086' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='2.14847' y1='9.55646' x2='9.17783' y2='16.5858' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.54761' y1='9.29077' x2='17' y2='9.29077' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     }
     .slide-img {
          width: 100%;
          height: 262px;
          border-radius: 9px 9px 0px 0px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 100% 100%;
     }
     .slide-container {
          display: flex;
          flex-direction: column;
          width: 321px;
          text-align: left;
          &__htext {
               font-family: $fontTT;
               font-style: normal;
               font-weight: 600;
               font-size: 22px;
               line-height: 24px;
               color: #333333;
               margin-top: 27px;
               height: 47px;
          }
          &__mtext {
               font-family: $fontPr;
               font-style: normal;
               font-weight: 300;
               font-size: 16px;
               line-height: 24px;
               color: #777777;
               margin: 11px 0px 26px 0px;
               height: 72px;
          }
          &__divider {
               width: 308px;
               height: 0px;
               border-top: 2px solid #EAE8EC;
          }
          &__footer {
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding-top: 18px;
          }
          &__footer-left{
               display: flex;
          }
          &__footer-right {
               display: flex;
               span{
                    font-family: $fontTT;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 26px;
                    color: #C4C4C4;
                    margin-left: 7px;
               }
          }
     }
     .top-disc{
          margin-top: 13px;
     }
     #logoST{
          margin-left: 6.68px;
     }
}
.left-slide {
     .slide-img {
          background-image: url("../resource/img/pub1.png");
     }
}
.middle-slide{
     .slide-img {
          background-image: url("../resource/img/pub2.png");
     }
}
.right-slide{
     .slide-img {
          background-image: url("../resource/img/pub3.png");
}
}
.send {
     outline: 1px solid red;
     height: 100%;
}
// .send *{
//      outline: 1px solid red;
// }
.send {
     display: flex;
     flex-direction: row;
     padding-top: 93px;
     &__htext {
          font-family: $fontTT;
          font-weight: 700;
          font-size: 48px;
          line-height: 45px;
          color: #FFFFFF;
     }
     &__desc {
          font-family: $fontPr;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #7E779A;
          margin-top: 18px;
     }
     &__content {
          display: flex;
          flex-direction: row;
          margin-top: 56px;
     }
     &__vertext {
          user-select: none;
          display: flex;
          transform: rotate(-90deg);
          justify-content: center;
          align-items: center;
          position: relative;
          max-width: 30px;
          max-height: 18px;
          top: 150px;
          left: -5px;
          span{
               display: flex;
               font-family: $fontTT;
               font-weight: 600;
               font-size: 16px;
               line-height: 18px;
               color: #FFFFFF;
               transition: .3s;
          }
          span:hover{
               color: #7E779A;
               cursor: pointer;
          }
     }
     &__dot {
          display: flex;
          border: 1.5px solid #FFFFFF;
          background: #FFFFFF;
          border-radius: 50%;
          margin: 0px 12px 0px 12px;
     }
     &__maintext {
          display: flex;
          flex-direction: column;
          margin-left: 29px;
     }
     &__content-name {
          font-family: $fontPr;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #7E779A;
     }
     &__content-text {
          font-family: $fontPr;
          font-weight: 700;
          font-size: 22px;
          line-height: 25px;
          color: #FFFFFF;
          margin: 8px 0px 22px 0px;
     }
}
.send-text-block, .send-form{
     display: flex;
     flex-direction: column;
}
.send-text-block {

}
.send-form {
     margin-left: 30px;
     &__field {
          position:relative;
          width:670px;
          margin-bottom:28px;
          input, textarea{
               width: 670px;
               height: 52px;
               background: rgba(7, 11, 47, 0.07);
               border: 2px solid #473E69;
               border-radius: 4px;
               font-family: $fontPr;
               font-weight: 300;
               font-size: 16px;
               line-height: 19px;
               color: #FFFFFF;
               padding:0 20px;
               width:100%;
          }
          input:focus + label, input:not(:placeholder-shown) + label{
               top:-20px;
               left:-6px;
               font-size:12px;
               transform:translate(0,0);
               padding:2px 6px;
          }
          textarea:focus + label, textarea:not(:placeholder-shown) + label{
               top:-20px;
               left:-6px;
               font-size:12px;
               transform:translate(0,0);
               padding:2px 6px;
          }
          label{
               font-family: $fontPr;
               font-weight: 300;
               font-size: 16px;
               line-height: 19px;
               color: #7E779A;
               pointer-events:none;
               position:absolute;
               transition:all 0.3s ease;
               top:50%;
               transform:translate(0,-50%);
               left:20px;
          }
     }
     .send-textarea{
          height: 163px;
          textarea{
               height: 163px;
               resize: none;
               overflow: hidden;
               padding-top: 20px;
          }
          label{
               top:15%;
          }
     }
     &__checkbox{
          input{
               width: 22px;
               height: 22px;
               background: rgba(7, 11, 47, 0.07);
               border: 2px solid #473E69;
               border-radius: 4px;
          }
          label{
               font-family: $fontPr;
               font-weight: 300;
               font-size: 15px;
               line-height: 18px;
               color: #FFFFFF;
          }
     }
     .send-form-footer{
          font-family: 'Pragmatica';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #7E779A;
     }
     .submit-btn-wrapper{
          display: flex;
          max-width: 226px;
          height: 56px;
          border-radius: 90px;
          position: relative;
          padding: 3px;
          background: linear-gradient(99.43deg, #3F0F72 4.21%, #791180 108.65%);
          align-items: center;
          justify-content: center;
     }
     .submit-btn{
          display: flex;
          width: 226px;
          height: 50px;
          background: transparent;
          transition: .3s;
          border-radius: 90px;
          font-family: $fontTT;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #FFFFFF;
          justify-content: center;
          align-items: center;
          padding: calc((56px - 14px)/2) 0px;
     }
     .submit-btn:hover{
          background: #170c49;
     }
}


